<% @vacations.each do |vacation| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= vacation.name %></h1>
    <i><%= vacation.place %></i><br />
    <p><%= vacation.feedback %></p><br />
  </div>

 
<% end %>